<div style="display: flex; padding-left: 430px; margin: 0%;">
    <img src="/images/skillimg.png" alt="doodle" height="300vh" width="300vw" >
</div>
<section class="skil py-5 mb-0">
    <div class="px-3" style="border-right: 1px solid; border-color: white; text-align: center; color: rgb(235, 230, 230);" >
        <h5>Frontend Developer</h5><br>
        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
        <br>
        <h6>Languages I speak</h6>
        <p>CSS 3, HTML 5, Bootstrap</p>
        <br>
        <h6>Dev Tools</h6>
        <p>Node.JS, React.JS, Express.JS</p>
    </div>     
    
    <div class="px-3" style="border-right: 1px solid; border-color: white; text-align: center; color: rgb(235, 230, 230);">
        <h5>Backend Developer</h5><br>
        <p>I am Proficient in designing, managing, and optimizing databases for seamless integration into full-stack solutions.</p><br>
        <h6>Languages I speak</h6>
        <p>JavaScript, Java, MY-SQL, MongoDB</p><br>
        <h6>Dev Tools</h6>
        <p>VS Code, Git, GitHub</p>
    </div>
    
    <div class="px-3" style="border-right: 1px solid; border-color: white; text-align: center; color: rgb(235, 230, 230);">
        <h5>Designer</h5><br>
        <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p><br>
        <h6>Dev Tools</h6>
        <p>Adobe Photoshop, Figma, Adobe XD, Adobe Illustrator</p>
    </div>
    
</section>
<section class="d-block py-5 px-4" style="margin-left: 55px;">
    <div style="padding-left: 380px;">
        <h2>Certifications</h2>
    </div>
    <div class="cert p-3 m-3">
        <div style="height: 30vh; overflow-y: hidden; width: 20vw; background-color: rgb(43, 41, 40); border-radius: 20px; color: rgb(235, 230, 230); padding: 0px 10px; padding-top: 10vh; text-align: center; ">
            <p>React Js (Beginner): Internshala Training certification-(Internshala).</p>
        </div>  
        <div style="height: 30vh; overflow-y: hidden; width: 20vw; background-color: rgb(43, 41, 40); border-radius: 20px; color: rgb(235, 230, 230); padding: 0px 10px; padding-top: 10vh; text-align: center; ">
            <p>Introduction to JavaScript-(Great Learning).</p>
        </div>  
        <div style="height: 30vh; overflow-y: hidden; width: 20vw; background-color: rgb(43, 41, 40); border-radius: 20px; color: rgb(235, 230, 230); padding: 0px 10px; padding-top: 10vh; text-align: center; ">
            <p>Introduction to CSS-(Great Learning).</p>
        </div>  
        
    </div>

</section>
<section class="d-block py-0 px-4" style="margin-left: 55px;">
    <div class="cert p-3 m-3">
        <div style="height: 30vh; overflow-y: hidden; width: 20vw; background-color: rgb(43, 41, 40); border-radius: 20px; color: rgb(235, 230, 230); padding: 0px 10px; padding-top: 10vh; text-align: center; ">
            <p>UX-Designs (Basics): Presidency University Value Added Certifications.</p>
        </div>
        <div style="height: 30vh; overflow-y: hidden; width: 20vw; background-color: rgb(43, 41, 40); border-radius: 20px; color: rgb(235, 230, 230); padding: 0px 10px; padding-top: 10vh; text-align: center; ">
            <p>Introduction to Artificial Intelligence (IBM): Coursera Certifications.</p>
        </div>
        <div style="height: 30vh; overflow-y: hidden; width: 20vw; background-color: rgb(43, 41, 40); border-radius: 20px; color: rgb(235, 230, 230); padding: 0px 10px; padding-top: 10vh; text-align: center; ">
            <p>Internet of Things- Presidency University Value Added Certifications.</p>    
        </div>
    </div>
</section>


