<H1>
    About
</H1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb"> 
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>  
    </ol>
</nav>
<section class="d-block py-3" style="padding-left: 140px;">
    <h3>SKILLS</h3>
    <div class="skil py-2">
        <section style="line-height: 0.5;">
            <h5>FRAMEWORKS</h5>
            <div class="px-2 py-4">
                <p>Node.JS</p>
                <p>Express.JS</p>
                <p>React.JS</p>
                <p>Bootstrap</p>
            </div>
            
        </section>
        <section style="line-height: 0.5;">
            <h5>LANGUAGES</h5>
            <div class="px-2 py-4">
                <p>JavaScript</p>
                <p>Java</p>
                <p>HTML 5</p>
                <p>CSS 3</p>
            </div>
        </section>
        
        <section style="line-height: 0.5;">
            <h5>DATABASE</h5>
            <div class="px-2 py-4">
                <p>MY-SQL</p>
                <p>MongoDB</p>
            </div>
        </section>

        <section style="line-height: 0.5;">
            <h5>VERSION CONTROL</h5>
            <div class="px-2 py-0">
                <p>Git</p>
                <p>GitHub</p>
            </div>
        </section>
        <section style="line-height: 0.5;">
            <h5>DESIGNING</h5>
            <div class="px-2 py-4">
                <p>Adobe Photoshop</p>
                <p>Adobe XD</p>
                <p>Adobe Illustrator</p>
            </div>
        </section>
    </div>

    <div class="inl">
        <div class="pt-4">
            <h3>CERTIFICATIONS</h3>
            <div class="mb-1 py-3 px-3" style="line-height: 0.7;">
                <p>React Js (Beginner): Internshala Training certification-(Internshala).</p>
                <p>Introduction to JavaScript-(Great Learning).</p>
                <p>Introduction to CSS-(Great Learning).</p>
                <p>UX-Designs (Basics): Presidency University Value Added Certifications.</p>
                <p>Introduction to Artificial Intelligence (IBM): Coursera Certifications.</p>
                <p>Internet of Things- Presidency University Value Added Certifications.</p> 
            </div>      
        </div>
        <div class="align-items-center">
            <img src="/images/skillimg.png" alt="doodle" height="300vh" width="300vw" >
        </div>
    </div>


    <h3>EXPERIENCE</h3>
    <div class="px-3">

        <h5>Accenture Solutions PVT LTD</h5>
        <div class="pt-2 px-2" style="line-height: 0.7;" >
            <p>Role: CS Engineer</p>
            <p>Time Period: 6 Months</p>
            <p>Skills:<div class="px-4" style="line-height: 1;"> Troubleshooting, Hardware and software support,customer service,<br> 
                Managing Director Support, Microsoft Surface HUB support,<br> System reimaging and data wipe.</div>
            </p>
        </div>
    </div>



    <h3>EDUCATION</h3>
    <div class="py-2 px-3">
        <h5>Presidency University</h5>
        <div class="pt-2 px-2" style="line-height: 0.5;" >
            <p>Degree: B Tech(CSE)</p>
            <p>Graduation Year: 2022</p>
        </div>
    </div>

    <h3>GITHUB LINK</h3>
    <div class="py-2 px-3">
        <a href="https://github.com/kalash8/BlogAPI"><p>Recipe Blog API</p></a>
        <a href="https://github.com/kalash8/Portfolio"><p>Portfolio</p></a>
        <a href="https://github.com/kalash8/tictactoe_01"><p>Tic Tac Toe</p></a>
        <a href="https://github.com/kalash8/chat-app"><p>Chat App</p></a>

    </div>


</section>
