<section class="px-3 py-3 mb-2">

    <h1>Contact</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb"> 
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>  
        </ol>
    </nav>
<div class="cont">
    <div class="containerrr">
        <img src="/images/dogs.jpg" alt="Dogo Image" class="image">
        <span class="bubble">Dogo Lover :D</span>
    </div>
    <div class="containerr">
        <i class="bi bi-linkedin"></i>
         https://www.linkedin.com/in/kalash-telkar-5a7b62188
        <div class="hover-text">
            <button class="btn btn-outline-secondary" style="color: white;" href="#" role="button"><a href="https://www.linkedin.com/in/kalash-telkar-5a7b62188" style="text-decoration: none;">Connect</a></button>
        </div>
        
    </div>
    <div class="containerr">
        <i class="bi bi-instagram"></i>
        https://www.instagram.com/i___c_o___i/
        <div class="hover-text">
            <button class="btn btn-outline-secondary" style="color: white;" href="#" role="button"><a href="https://www.instagram.com/i___c_o___i/"style="text-decoration: none;">Follow</a></button>
        </div>
    </div>
    <div class="containerr">
        <i class="bi bi-github"></i>
        https://github.com/kalash8
        <div class="hover-text">
            <button class="btn btn-outline-secondary" style="color: white;" href="#" role="button"><a href="https://github.com/kalash8/BlogAPI"style="text-decoration: none;">Follow</a></button>
        </div>
    </div>
    <div class="containerr">
        <i class="bi bi-envelope-at"></i>
        kalashtelkar@gmail.com
        <div class="hover-text">
            <button class="btn btn-outline-secondary" style="color: black;" href="#" role="button" onclick="composeEmail()" >Send Mail</button>
        </div>
    </div>
    <div class="containerr">
        <i class="bi bi-phone"></i>
        +91 80736 17474
        <div class="hover-text">
            <button class="btn btn-outline-secondary" style="color: black;" href="#" role="button">Or maybe text me in whatsapp?</button>
        </div>
    </div>

</div>
</section>




<!-- https://www.instagram.com/i___c_o___i/ -->