<div class="row g-5 px-5 mb-2" style="display: flex; justify-content: space-around ">
    
    <div class="col-12 col-lg-6">
        <img src="/images/hero-image.png" width="350px" height="250px" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking Blog with Node.js">
    </div>
    
    <div class="col-12 col-lg-6 py-5">
        <h1 class="display-5 fw-bold mb-3 text-center">Hi There!</h1>
        <h3 class="display-1 fw-light mb-3 text-center">It's Kalash</h3>
        <p class="lead text-center ">I'am a Full Stack Developer with just needed skills to help you build and grow together.</p>
    </div>
    

    
</div>


<div class="d-flex justify-content-center align-items-center py-2 mb-0 text-center">
    <div class="col-12 col-lg-6 mb-2 py-3">
        <h1 class="display-5 fw-bold mb-3">Finally you landed here!</h1>
        <p class="lead"> Don't worry, I'm interesting; just keep scrolling and exploring.<br>
             Oh, by the way, that's really me, and no, I don't do modeling—just a cool developer.
        </p>
    </div>
</div>



    <div class="d-flex mb-3 py-2 pt-4 px-5 ">
        <h2>Projects</h2>
        <a href="/project" class="ms-auto">View More</a>
    </div>



<div class="d-flex px-4 py-2 my-1 mb-2 justify-content-space-around" style="min-width: fit-content;">
        <div class="mb-2 pt-4 px-4">
            <a href="/project" class="col text-center category__link"> 
                <div class="category__img category__img shadow" style="background-color: blanchedalmond;">
                    <img src="images/blogapi.png" height="120vh" width="120vw" alt="project 1" loading="lazy">
                </div>
                <div class="d-block mx-lg-auto img-fluid pt-1 justify-content-center">Blog API</div>
            </a>
        </div>
        <div class="mb-2 pt-4 px-4">
            <a href="/project" class="col text-center category__link"> 
                <div class="category__img category__img shadow" style="background-color: blanchedalmond; overflow-x: hidden;">
                    <img src="images/Portfolio.png" height="120vh" width="120vw" alt="project 2" loading="lazy">
                </div>
                <div class="d-flex pt-1 justify-content-center">Portfolio</div>
            </a>
        </div>
        <div class="mb-2 pt-4 px-4">
            <a href="/project" class="col text-center category__link"> 
                <div class="category__img category__img shadow" style="background-color: blanchedalmond;">
                    <img src="images/shopping.png" height="120vh" width="100vw" alt="project 3" loading="lazy">
                </div>
                <div class="d-flex pt-1 justify-content-center">Shopping Cart</div>
            </a>
        </div>
        <div class="mb-2 pt-4 px-4">
            <a href="/project" class="col text-center category__link"> 
                <div class="category__img category__img shadow" style="background-color: blanchedalmond;">
                    <img src="images/all.png" height="120vh" width="100vw" alt="project 0" loading="lazy">
                </div>
                <div class="d-flex pt-1 justify-content-center">View More</div>
            </a>
        </div> 
</div>
    










<section class="px-4 py-3 my-5 text-center">
    <h1 class="display-5 fw-bold">Want to know me more professionally?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">I love singing and keep the vibe around calm and loving.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-md-center">
            <a href="/about" class="btn btn-primary btn-dark btn-lg">Know me</a>
        </div>
    </div>
</section>