<section class="px-3 py-3 mb-3">             
        <div class="row">
            <div class="col-12 col-md-4 mt-2">
            <img src="/images/blogapi-hehe.png" class="img-fluid sticky-top" style="top: 20px;" alt="'Recipe Blog" loading="lazy">
        </div>

        <div class="col col-12 col-md-8">
            <div class="col-12"><h1>Recipe Blog API Project</h1></div>
            <div class="col-12" style="white-space: pre-line;">
                <h4>Project Description</h4>
                <p class="lead" > A full stack webpage build to upload recipe and browse through all the recipes with different categories from the database.</p>
            </div>
            <div class="row pt-4">
                <div class="col-12">
                    <h4>Made With</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Node.js</li>
                        <li class="list-group-item">Express.js</li>
                        <li class="list-group-item">MondoDB</li>
                    </ul>
                </div>
            </div>
            <div class="col-12" style="white-space: pre-line;">
                <h4>Github Link</h4>
                <a href="https://github.com/kalash8/BlogAPI" style="text-decoration: none;"><p class="lead">https://github.com/kalash8/BlogAPI</p></a>
            </div>
        </div>  
        </div>
</section>